body {
    padding-top: 0px;
    padding-bottom:0px;
    font-family: 'Roboto', sans-serif !important;
}
.img-circle {max-width:120px}
.row-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.row-text {padding: 50px 40px 50px 40px !important;}
.btn-ml {
    border-radius: 30px;
    border: 1px solid #808080;
}

.card {
    border-color: #fff;
    margin-bottom: 1.5rem !important;
}

.text-ml {
    color: #D3AC68 !important;
}

.top {
    padding-top: 10px;
    height: 40px !important;
}

.top-text {
    font-size: 12px !important;
    color: #777777;
}

.content {
    margin-left: 10px;
}

.header-text {
    padding: 25px 0 25px 0px !important;
    background-color: #fff;
}

.header-container {
    height: 100px !important;
    vertical-align: middle !important;
    background-color: #D3AC68;
    color: #fff;
    margin-left: 0;
    margin-right: 0;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 20px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand {
    padding: 0 !important;
    margin-bottom: 7px;
}

.fa {
    font-size: 16px !important;
    color: #777777;
}


footer .footer-above {
    background-color: #fff !important;
    color: #777777 !important;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    /*margin-right:-4px;*/
}

.central {
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-device-width : 768px) {

    .vertical-align {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        /*float: none !important;*/
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #333333;
    font-family: Roboto-Regular, sans-serif;
    text-transform: uppercase;
    outline: none;
}

.navbar-custom {
    background: #fff !important;
    /*text-transform: uppercase;*/
    /*font-weight: 700;*/
    border-bottom: none;
    border: none;
}

    .navbar-custom a:focus {
        outline: none;
    }

    .navbar-custom .navbar-brand {
        color: #D3AC68;
    }

        .navbar-custom .navbar-brand:hover,
        .navbar-custom .navbar-brand:focus,
        .navbar-custom .navbar-brand:active,
        .navbar-custom .navbar-brand.active {
            color: white;
        }

    .navbar-custom .navbar-nav {
        letter-spacing: 1px;
    }

        .navbar-custom .navbar-nav li a {
            color: #D3AC68;
        }

            .navbar-custom .navbar-nav li a:hover {
                /*color: #C89540;*/
                outline: none;
            }

            .navbar-custom .navbar-nav li a:focus,
            .navbar-custom .navbar-nav li a:active {
                color: white;
            }

        .navbar-custom .navbar-nav li.active a {
            color: white;
            background: #D3AC68;
            border-radius: 2px;
        }

            .navbar-custom .navbar-nav li.active a:hover,
            .navbar-custom .navbar-nav li.active a:focus,
            .navbar-custom .navbar-nav li.active a:active {
                color: white;
                background: #D3AC68;
            }

    .navbar-custom .navbar-toggle {
        color: #D3AC68;
        text-transform: uppercase;
        font-size: 10px;
        border-color: #D3AC68;
    }

        .navbar-custom .navbar-toggle:hover,
        .navbar-custom .navbar-toggle:focus {
            background-color: #D3AC68;
            color: white;
            border-color: #D3AC68;
        }

@media (min-width: 768px) {
    .navbar-custom {
        /*padding: 25px 0;*/
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

        .navbar-custom .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .navbar-custom.affix {
            padding: 10px 0;
        }

            .navbar-custom.affix .navbar-brand {
                font-size: 1.5em;
            }
}
/*CARDS BS 4*/
.card {
    position: relative;
    display: block;
    /*margin-bottom: 0.75rem;*/
    background-color: #fff;
    border-radius: 0.25rem;
    /*border: 1px solid rgba(0, 0, 0, 0.125);*/
}

.card-block {
    padding: 1.25rem;
}

    .card-block::after {
        content: "";
        display: table;
        clear: both;
    }

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

    .card-header::after {
        content: "";
        display: table;
        clear: both;
    }

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

    .card-footer::after {
        content: "";
        display: table;
        clear: both;
    }

    .card-footer:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

    .card-primary .card-header,
    .card-primary .card-footer {
        background-color: transparent;
    }

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

    .card-success .card-header,
    .card-success .card-footer {
        background-color: transparent;
    }

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

    .card-info .card-header,
    .card-info .card-footer {
        background-color: transparent;
    }

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

    .card-warning .card-header,
    .card-warning .card-footer {
        background-color: transparent;
    }

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

    .card-danger .card-header,
    .card-danger .card-footer {
        background-color: transparent;
    }

.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8;
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc;
}

.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de;
}

.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c;
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e;
}

.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f;
}

.card-inverse .card-header,
.card-inverse .card-footer {
    border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: #fff;
}

    .card-inverse .card-link,
    .card-inverse .card-text,
    .card-inverse .card-subtitle,
    .card-inverse .card-blockquote .blockquote-footer {
        color: rgba(255, 255, 255, 0.65);
    }

        .card-inverse .card-link:focus, .card-inverse .card-link:hover {
            color: #fff;
        }

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    border-radius: calc(0.25rem - 1px);
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img-top {
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
    .card-deck {
        display: table;
        width: 100%;
        margin-bottom: 0.75rem;
        table-layout: fixed;
        border-spacing: 1.25rem 0;
    }

        .card-deck .card {
            display: table-cell;
            margin-bottom: 0;
            vertical-align: top;
        }

    .card-deck-wrapper {
        margin-right: -1.25rem;
        margin-left: -1.25rem;
    }
}

@media (min-width: 576px) {
    .card-group {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

        .card-group .card {
            display: table-cell;
            vertical-align: top;
        }

            .card-group .card + .card {
                margin-left: 0;
                border-left: 0;
            }

            .card-group .card:first-child {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }

                .card-group .card:first-child .card-img-top {
                    border-top-right-radius: 0;
                }

                .card-group .card:first-child .card-img-bottom {
                    border-bottom-right-radius: 0;
                }

            .card-group .card:last-child {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }

                .card-group .card:last-child .card-img-top {
                    border-top-left-radius: 0;
                }

                .card-group .card:last-child .card-img-bottom {
                    border-bottom-left-radius: 0;
                }

            .card-group .card:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

                .card-group .card:not(:first-child):not(:last-child) .card-img-top,
                .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
                    border-radius: 0;
                }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }

        .card-columns .card {
            display: inline-block;
            width: 100%;
        }
}

/*HR*/
hr.ml {
    margin-top: 20px;
    margin-bottom: 0px;
    border: 0;
    opacity: 0.6;
    border-top: 1px solid #D3AC68;
}

hr.ml-margin {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    opacity: 0.6;
    border-top: 1px solid #D3AC68;
}
