
@{
    ViewBag.Title = "AreaDetalhe";
}

<header class="header-container" style="margin-bottom:50px">
    <div class="container" style="padding-left:0">
        <h3 class="text-left">Áreas de atuação</h3>
    </div>
</header>

<div class="row container">
    <div class="col-md-8 col-md-offset-2 panel">

        <div class="card central">
            <div class="card-text">
                <h4 class="card-title text-ml header-text">
                    <i class="fa fa-briefcase text-ml" aria-hidden="true"></i> Trabalhista
                </h4>
                <div class="card-text">
                    <p class="top-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                    <p class="top-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam.
                    </p>
                    <h6>Lorem ipsum</h6>
                    <p class="top-text">
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                        <span>
                            - Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </span><br />
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                    </p>
                    <h6>Lorem ipsum</h6>
                    <p class="top-text">
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                        <span>
                            - Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </span><br />
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                    </p>
                </div>
                <hr class="text-ml" />
                <div class="card-title vertical-align col-centered">
                    <div class="col-md-4 col-sm-12">
                        <img src="~/Content/images/avatar.jpg" class="img-circle img-responsive header-text" />
                    </div>
                    <div class="card-text col-md-8 col-sm-12 headehr-text">
                        <h4 class="center">
                            Nome advogado<br />
                            <small>especialização</small>
                        </h4>
                    </div>
                </div>
                    <div class="header-text navbar-left">
                        <a class="btn btn-default text-ml btn-ml" href="~/Home/Areas"><i class="fa fa-long-arrow-left text-ml"></i> VOLTAR</a>
                    </div>
            </div>
        </div>
    </div>
</div>
