
@{
    ViewBag.Title = "Areas";
}


<header style="margin-bottom:50px">
    <div class="container header-container">
        <h3 class="text-left">Áreas de atuação</h3>
    </div>
</header>

<div class="row container row-centered ">
    <div class="row col-lg-8 col-lg-offset-2  col-centered">

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-ml">
                        <i class="fa fa-briefcase text-ml" aria-hidden="true"></i> Trabalhista
                    </h4>
                    <div class="card-text">
                        <span class="top-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </span>
                    </div>
                    <hr class="text-ml" />
                    <p class="card-text">
                        <h5>Nome advogado</h5>
                        <h6 class="top-text">especialização</h6>
                    </p>
                    <a href="~/Home/AreaDetalhe" class="card-link">VER MAIS</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-ml">
                        <i class="fa fa-briefcase text-ml" aria-hidden="true"></i> Trabalhista
                    </h4>
                    <div class="card-text">
                        <span class="top-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </span>
                    </div>
                    <hr class="text-ml" />
                    <p class="card-text">
                        <h5>Nome advogado</h5>
                        <h6 class="top-text">especialização</h6>
                    </p>
                    <a href="~/Home/AreaDetalhe" class="card-link">VER MAIS</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-ml">
                        <i class="fa fa-briefcase text-ml" aria-hidden="true"></i> Trabalhista
                    </h4>
                    <div class="card-text">
                        <span class="top-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </span>
                    </div>
                    <hr class="text-ml" />
                    <p class="card-text">
                        <h5>Nome advogado</h5>
                        <h6 class="top-text">especialização</h6>
                    </p>
                    <a href="~/Home/AreaDetalhe" class="card-link">VER MAIS</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-ml">
                        <i class="fa fa-briefcase text-ml" aria-hidden="true"></i> Trabalhista
                    </h4>
                    <div class="card-text">
                        <span class="top-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </span>
                    </div>
                    <hr class="text-ml" />
                    <p class="card-text">
                        <h5>Nome advogado</h5>
                        <h6 class="top-text">especialização</h6>
                    </p>
                    <a href="~/Home/AreaDetalhe" class="card-link">VER MAIS</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-ml">
                        <i class="fa fa-briefcase text-ml" aria-hidden="true"></i> Trabalhista
                    </h4>
                    <div class="card-text">
                        <span class="top-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </span>
                    </div>
                    <hr class="text-ml" />
                    <p class="card-text">
                        <h5>Nome advogado</h5>
                        <h6 class="top-text">especialização</h6>
                    </p>
                    <a href="~/Home/AreaDetalhe" class="card-link">VER MAIS</a>
                </div>
            </div>
        </div>


    </div>
</div>
