
@{
    ViewBag.Title = "Artigo";
}
<header class="header-container" style="margin-bottom:50px">
    <div class="container" style="padding-left:0">
        <h2 class="text-left">Artigos</h2>
    </div>
</header>

<div class="row container">
    <div class="col-md-2 text-left">
        <div class="hidden-sm hidden-xs">
            <p class=""><strong>COMPARTILHE:</strong></p>
            <ul class="list-inline top-text text-left ">
                <li>
                    <a href="~/#"><i class="fa fa-fw fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="~/#"><i class="fa fa-fw fa-linkedin-square"></i></a>
                </li>
            </ul>
        </div>
        <div class="visible-xs-inline visible-sm-inline" style="width:90%">
            <ul class="list-inline top-text">
                <li>
                    <p class=""><strong>COMPARTILHE:</strong></p>
                </li>
                <li>
                    <a href="~/#"><i class="fa fa-fw fa-facebook-square"></i></a>
                </li>
                <li>
                    <a href="~/#"><i class="fa fa-fw fa-linkedin-square"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-8 panel">

        <div class="card central">
            <div class="card-text">
                <h4 class="card-title header-text text-ml" style="margin-bottom:0;">
                    A regulação da "tarifa branca" possibilidade de redução no valor da tarifa<br /><small class="text-muted">27/06/2016</small>
                </h4>

                <div class="card-text">
                    <p class="top-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                    <p class="top-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam.
                    </p>
                    <h6>Lorem ipsum</h6>
                    <p class="top-text">
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                        <span>
                            - Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </span><br />
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                    </p>
                    <h6>Lorem ipsum</h6>
                    <p class="top-text">
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                        <span>
                            - Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </span><br />
                        <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                    </p>
                </div>
                <div class="row row-centered left">
                    <div class="navbar-left" style="margin-top:30px">
                        <a class="btn btn-default text-ml btn-ml" href="~/Home/Artigos"><i class="fa fa-long-arrow-left text-ml"></i> VOLTAR</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>

