
@{
    ViewBag.Title = "Artigos";
}

<header class="header-container" style="margin-bottom:50px">
    <div class="container" style="padding-left:0">
        <h2 class="text-left">Artigos</h2>
    </div>
</header>

<div class="row container">
    <div class="col-md-8 col-md-offset-2 panel">
        
        <div class="card card-block text-xs-center">
            <h6 class="card-title text-muted">01/01/2016</h6>
            <h4 class="card-title text-ml">Lorem ipsum dolor</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur eget arcu non aliquet. Sed in eros laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur eget arcu non aliquet. Sed in eros laoreet.</p>
        </div>
        <hr class="ml" />

        <div class="card card-block text-xs-center">
            <h6 class="card-title text-muted">01/01/2016</h6>
            <h4 class="card-title text-ml">Lorem ipsum dolor</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur eget arcu non aliquet. Sed in eros laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur eget arcu non aliquet. Sed in eros laoreet.</p>
        </div>
        <hr class="ml" />

        <div class="card card-block text-xs-center">
            <h6 class="card-title text-muted">01/01/2016</h6>
            <h4 class="card-title text-ml">Lorem ipsum dolor</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur eget arcu non aliquet. Sed in eros laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur eget arcu non aliquet. Sed in eros laoreet.</p>
        </div>
        <hr class="ml" />

        <div class="card card-block text-xs-center">
            <h6 class="card-title text-muted">01/01/2016</h6>
            <h4 class="card-title text-ml">Lorem ipsum dolor</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur eget arcu non aliquet. Sed in eros laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur eget arcu non aliquet. Sed in eros laoreet.</p>
        </div>
        <hr class="ml" />

        <div class="card card-block text-xs-center">
            <h6 class="card-title text-muted">01/01/2016</h6>
            <h4 class="card-title text-ml">Lorem ipsum dolor</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur eget arcu non aliquet. Sed in eros laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur eget arcu non aliquet. Sed in eros laoreet.</p>
        </div>
        <div class="central">
            <div class="navbar-left header-text" style="margin-top:30px">
                <a class="btn btn-default btn-ml" href="~/Home/Artigos"><i class="fa fa-long-arrow-left "></i> NOVOS</a>
            </div>

            <div class="navbar-right header-text" style="margin-top:30px">
                <a class="btn btn-default text-ml btn-ml" href="~/Home/Artigos"><i class="fa fa-long-arrow-right text-ml"></i> ANTIGOS</a>
            </div>
        </div>
    </div>
</div>

