
@{
    ViewBag.Title = "SocioDetalhe";
}

<header style="margin-bottom:50px">
    <div class="container header-container">
        <h3 class="text-left">Sócios</h3>
    </div>
</header>

<div class="row container row-centered">
    <div class="col-lg-8 col-md-12 col-centered panel " style="min-height:300px">
        <div class="col-md-12 col-centered">
            <div class="card">
                <div class="card-text">

                    <div class="row row-centered left header-text">
                        <div class="col-md-2 col-sm-12 col-centered align-middle">
                            <img src="~/Content/images/avatar.jpg" class="img-circle img-responsive" />
                        </div>
                        <div class="col-md-10 col-sm-12 col-centered align-middle">
                            <p class="card-text">
                                <h5>Nome advogado</h5>
                                <h6 class="top-text">especialização</h6>
                            </p>
                        </div>

                        <hr class="text-ml" />
                        
                    </div>
                    <div class="card-text">
                        <p class="top-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <p class="top-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam.
                        </p>
                        <h6>Lorem ipsum</h6>
                        <p class="top-text">
                            <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                            <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                            <span>
                                - Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </span><br />
                            <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                        </p>
                        <h6>Lorem ipsum</h6>
                        <p class="top-text">
                            <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                            <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                            <span>
                                - Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </span><br />
                            <span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span><br />
                        </p>
                    </div>
                    <div class="row row-centered left">
                        <div class="navbar-left" style="margin-top:30px">
                            <a class="btn btn-default text-ml btn-ml" href="~/Home/Socios"><i class="fa fa-long-arrow-left text-ml"></i> VOLTAR</a>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

