
@{
    ViewBag.Title = "Socios";
}


<header class="header-container" style="margin-bottom:50px">
    <div class="container" style="padding-left:0">
        <h2 class="text-left">Sócios</h2>
    </div>
</header>

<div class="row container">
    <div class="row col-lg-8 col-lg-offset-2">

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="card-title vertical-align col-centered">
                        <div class="col-sm-12">
                            <img src="~/Content/images/avatar.jpg" class="img-circle img-responsive header-text" />
                        </div>
                        <div class="card-text col-sm-12">
                            <h4 class="center">
                                Nome advogado<br />
                                <small>especialização</small>
                            </h4>
                        </div>

                    </div>
                    <div class="card-text col-sm-12">
                        <p class="top-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <a href="~/Home/Socio" class="card-link">VER MAIS</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="card-title vertical-align col-centered">
                        <div class="col-sm-12">
                            <img src="~/Content/images/avatar.jpg" class="img-circle img-responsive header-text" />
                        </div>
                        <div class="card-text col-sm-12">
                            <h4 class="center">
                                Nome advogado<br />
                                <small>especialização</small>
                            </h4>
                        </div>

                    </div>
                    <div class="card-text col-sm-12">
                        <p class="top-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <a href="~/Home/Socio" class="card-link">VER MAIS</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="card-title vertical-align col-centered">
                        <div class="col-sm-12">
                            <img src="~/Content/images/avatar.jpg" class="img-circle img-responsive header-text" />
                        </div>
                        <div class="card-text col-sm-12">
                            <h4 class="center">
                                Nome advogado<br />
                                <small>especialização</small>
                            </h4>
                        </div>

                    </div>
                    <div class="card-text col-sm-12">
                        <p class="top-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <a href="~/Home/Socio" class="card-link">VER MAIS</a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

